body {
  background: $bg-color;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.dropdown {
  border: none;
  background-color: transparent;
  color: $title-color;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
