$font: "Poppins", sans-serif;

//color
// $main-color: #00ebc7;
// $text-color: #00214d;
// $bg-color: #fffffe;
// $container-color: #fffffe;

$primary-color: hsl(171, 100%, 46%);
$primary-color-alt: hsl(171, 100%, 86%);
$secondary-color: hsl(350, 100%, 66%);
$title-color: hsl(0, 0%, 13%);
$text-color: hsl(214, 100%, 15%);
$bg-color: hsl(0, 0%, 100%);
$container-color: hsl(0, 0%, 93%);
$border-color: hsl(22.1, 65.5%, 94.3%);
$border-color-alt: hsl(309, 14%, 90%);
